/* ----------------------------- FONTS ----------------------------- */

@import url("https://fonts.googleapis.com/css2?family=BIZ+UDMincho&family=Bungee&family=Monoton&display=swap");
/* 3 fonts: 
font-family: 'BIZ UDMincho', serif; <---Default / Regular Text
font-family: 'Bungee', cursive; <--- Retro Neon
font-family: 'Monoton', cursive; <--Big and Bold
*/
/* ----------------------------- APP.JS ----------------------------- */
body {
  background-color: rgba(106, 239, 203, 0.922);
  background-image: url("./pics/sprinkles2.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "BIZ UDMincho", serif;
}
.title {
  font-family: "Bungee", cursive;
  font-size: 3.5rem;
  color: rgba(253, 0, 232, 0.556);
  margin: auto;
}
/* ----------------------------- NAV BAR ----------------------------- */
.nav {
  text-align: center;
  padding-bottom: 3rem;
  font-size: 1.5rem;
}
.nav-ul {
  text-decoration: none;
}
/* ----------------------------- SHOP ----------------------------- */
.shop {
  text-align: center;
  padding-bottom: 2rem;
}
.shop h1 {
  color: rgba(255, 255, 255, 0.89);
  font-size: 3.5rem;
}

.add-donut {
  justify-content: center;
  display: flex;
  padding: inherit;
}

.add-donut:a {
  text-decoration: none;
}

.nav-link {
  text-decoration: none;
  padding: inherit;
}
/* ----------------------------- DONUT CARDS ----------------------------- */
.render-donuts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
/* ----------------------------- DONUT CARD ----------------------------- */
.donut-card {
  background-color: rgba(191, 240, 168, 0.645);
  height: 20rem;
  width: 18rem;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border: rgba(240, 168, 234, 0.818) solid 4px;
}
.card-img {
  max-width: 40%;
  max-height: 40%;
}
.card-btn-container {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
}
.card-btn {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.602);
  border: 1px solid #d5d9d9;
  height: 31px;
  padding: 0 11px;
  display: flex;
  align-items: center;
}
.card-btn:hover {
  background-color: #f7fafa;
  border-color: #d5d9d9;
}
.card-btn p {
  font-family: "BIZ UDMincho", serif;
}

/* ----------------------------- BAKERY ----------------------------- */
.bakery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.bakery h1 {
  color: rgba(255, 255, 255, 0.89);
  font-size: 3rem;
  margin: auto;
}
.creator-donut {
  height: 27rem;
  width: 60%;
  outline: white 2px solid;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.282);
  display: flex;
  align-items: center;
  justify-content: center;
}
.creator-donut img {
  max-width: 50%;
  max-height: 50%;
}
#form-container {
  font-size: 1.5rem;
  display: flex;
}
.created-img {
  animation-name: blink;
  animation-duration: 800ms;
  animation-iteration-count: 3;
  font-size: 1.5rem;
}
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.form-item {
  margin: 1rem;
  display: flex;
}
.creator-input {
  font-size: 1.5rem;
  border: none;
}
.creator-submit {
  font-size: 1.5rem;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.602);
  border: 1px solid #d5d9d9;
  height: 31px;
  padding: 0 11px;
  display: flex;
  align-items: center;
  font-family: "BIZ UDMincho", serif;
  text-decoration: none;
}
.creator-submit:hover {
  background-color: #b0ffd4d3;
  border-color: #d5d9d9;
}

/* ---------------------------- EDIT DONUT ---------------------------- */
.edit-donut {
  background-color: rgba(93, 189, 210, 0.929); /* Fallback color */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  height: 40%;
  width: 18%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.edit-donut button {
  margin-left: 12rem;
  margin-top: -2rem;
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-family: "Bungee", cursive;
  font-size: 2rem;
}
.edit-donut input {
  font-family: inherit;
}
.edit-form-item {
  padding: 1rem;
}

.edit-form-submit {
  font-size: 1.1rem;
  display: inline-block;
  outline: 0;
  margin-top: 2rem;
  cursor: pointer;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.602);
  border: 1px solid #d5d9d9;
  height: 31px;
  padding: 0 11px;
  font-family: "BIZ UDMincho", serif;
  text-decoration: none;
}
